In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
file_dir = r'C:\Users\cantt\OneDrive\Desktop\KU Bootcamp\Movies-ETL'

In [3]:
kaggleMetadata = pd.read_csv(f'{file_dir}\movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}/ratings.csv')

In [4]:
kaggleMetadata.sample(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
24993,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,69060,tt0032186,es,Ahí está el detalle,"Cantinflas, the boyfriend of the servant of a ...",...,1940-09-11,0.0,112.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,Ahí está el detalle,False,7.4,9.0
13212,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,60488,tt0034465,en,Arabian Nights,"Jon Hall, Maria Montez and Sabu star in this l...",...,1942-12-25,0.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Dashing Thieves of Baghdad...riding out of the...,Arabian Nights,False,5.9,10.0
27051,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",NaN,31340,tt0926763,fr,Le nouveau protocole,A man investigating his son's death learns som...,...,2008-03-19,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The New Protocol,False,6.4,10.0
42334,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,380592,tt5465728,sv,Hopptornet,10 Meter Tower is a short film study that take...,...,2016-01-29,0.0,17.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,Ten Meter Tower,False,7.0,1.0
22545,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",NaN,31769,tt0135037,ja,ヴィーナス戦記,The new frontier of Venus has degenerated into...,...,1989-03-11,0.0,102.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Venus Wars,False,5.3,7.0

In [5]:
ratings.sample(5)

          userId  movieId  rating   timestamp
14467460  150330     4128     4.0  1017531203
1971827    20492      595     5.0  1203729957
19888896  206800     8873     4.0  1448193335
5590698    57563     2788     4.0  1018133883
22132844  229875      800     4.0   968035304

In [ ]:
#left off at 8.3.3